<div class='user-card'>
    <div class='column'>
        <h4>{{user.nombre}}</h4>
        <img src='{{user.url}}' class='user-avatar' alt='avatar' />
    </div>
    <div class='column'>
        <div class='user-card-body'>
            <p>Dirección de correo: {{user.username}} </p>
            <p>Ubiación: {{user.direccion}} </p>
            <p>Ingrese su edad: {{user.edad}} </p>
            <p>Móvil: {{user.telefono}} </p>
            <p>Admin:
                <span>{{admin}} </span>
            </p>
        </div>
    </div>
</div>